*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html{
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

body{
	height: 100vh;
	width: 100%;
	background-color: #000;
	background-image: url('image/backgroundWebsite.jpg');
	background-size: cover;
	background-position: center;
}

li{
	list-style: none;
}

h2{
	text-decoration: none;
	color: orange;
	font-size: 1rem;
}

/* .logo div{
	width: 80px;
} */

a{
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

a:hover {
	color: orange;
}


/*HEADER*/
header {
	background: url('image/logoHospWeb.png');
	background: rgba(14, 3, 3, 0.1);
	backdrop-filter: blur(3px);
	width: 100%;
	padding: 1.5rem 7%;
	z-index: 1000;
	display: flex;
	position: relative;
	padding: 0 2rem;
	justify-content: space-between;
	align-items: center;

}

.navbar{
	width: 100%;
	top: 0;
	left: 0;
	padding: 20px 8%;
	height: 60px;
	max-width: 3000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo{
	width: 50px;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggle_btn {
	color: #d16b0c;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.action_btn {
	background-color: #789a97;
	color: #161616;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
}

.action_btn:hover {
	scale: 1.05;
	color: #000;
}

.action_btn:active { 
	scale: 0.95;

}

/* DROPDOWN MENU */
.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 300px;
	background: rgba(255, 255, 255,0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
	height: 240px;
}

.dropdown_menu li{
	padding: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* HOME */
.home{
	padding: 2rem 7%;
	width: 100%;
}

.main-home {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 6%;
}

.main-inner-home{
	flex: 1 1 45rem;
}

.main-inner-home h1 {
	font-size: 35px;
	font-weight: 500;
	padding: 0.5rem 0;
}

.main-inner-home h3 {
	font-size: 40px;
	padding-bottom: 1rem;
	font-weight: 700;
}

.main-inner-home p {
	line-height: 1rem;
}

.main-home{
	padding-top: 5rem;
}

/* section#hero {
	padding: 2rem 7%;
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
} */



/* RESPONSIVE DESIGN */
@media (max-width: 992px){
	.navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.navbar .toggle_btn {
		display: block;
	}

	.dropdown_menu {
		display: block;
	}
}

@media (max-width: 576px) {
	.dropdown_menu {
		left: 2rem;
		width: unset;
	}
}